<div id="footer">
        <div id="icons2">
            <h2><span>&</span> Socials</h2>
            <img src="/images/instagram_icon-removebg-preview.png" alt="">
            <img src="/images/facebook_icon.png" alt="">
            <img src="/images/mail_icon-removebg-preview.png" alt="">
        </div>
        <div id="nav_footer">
            <h2><span>&</span> Navigation</h2>
            <ul id="nav_ul">
                <li class="link_footer"><a href="/home">Home</a></li>
                <li class="link_footer"><a href="#" class="kategorije">Kategorije</a></li>
                <li class="link_footer"><a href="#">Newsletter</a></li>
                <li class="link_footer"><a href="#">Pretplati se</a></li>
            </ul>
        </div>
        <div id="credits">
            <h2><span>&</span> Made by:</h2>
            <h4>Josip Bušelić</h4>
        </div>
 </div>