<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>J&B</title>
    <link rel="icon" href="/images/J&B_logo.png">
    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="stylesheet" href="/styles/navigation.css">
    <link rel="stylesheet" href="/styles/body.css">
    <link rel="stylesheet" href="/styles/secondBody.css">
    <link rel="stylesheet" href="/styles/footer.css">
    <script src="/scripts/script.js"></script>
    <script src="/scripts/image_slider.js"></script>
    <script src="/scripts/sale_button.js"></script>
</head>