<!--NAVIGATION-->
    <div id="nav">
        <!--UPPER NAV-->
        <div id="naslov">
            <h1>J<span>&</span>B</h1>
        </div>
        <!--LINE-->
        <div class="line"></div>
        <!--LOWER NAV-->
        <div id="lower_nav">
            <ul id="links">
                <li class="link"><a href="/home">Home</a></li>
                <li class="link"><a href="#" class="kategorije">Kategorije</a></li>
                <li class="link"><a href="">Kontakt</a></li>
                <li class="link"><a href="">Newsletter</a></li>
                <li class="link"><a href="">Pretplati se</a></li>
            </ul>
            <div id="icons">
                <div>
                    <a href="/cart"><img class="icon" src="/images/cart_icon.svg" alt=""></a>
                    <div id="circle"></div>
                </div>
                <img class="icon" src="/images/search_icon.svg" alt="">
            </div>
        </div>
    </div>