
<%- include('partials/header') %>
<body>
    <button id="top_button"><img src="images/arrow.svg" alt=""></button>

    <div id="whole_screen"></div>

    <%- include("partials/nav_kategorije") %>

    <%- include('partials/nav') %>

    <!--BANNER-->
    <div id="div_banner">
        <div id="banner_content">
            <h2>Men's Fashion <span>Sale</span></h2>
            <h3>Up to 50% off</h3>
            <button id="sale_button">Shop Now</button>
        </div>
        <img id="banner" src="images/banner.png" alt="">
    </div>

    <!--BODY-->
    <div id="body">
        <div id="section">
            <h2><span>&</span> Best Sellers</h2>
            <div class="containers">
                <div class="container left left_mini" data-id="1">
                   <img class="product_picture" src="images/products/majice/bijela_majica.png" alt="">
                   <div class="size_buttons">
                        <button class="size">XS</button>
                        <button class="size">S</button>
                        <button class="size">M</button>
                        <button class="size">L</button>
                        <button class="size">XL</button>
                        <button class="size">XXL</button>
                    </div>
                    <div class="counter">0</div>
                   <div class="about_product">
                        <h4>Bijela Majica</h4>
                        <h4>35.99€</h4>
                   </div>
                </div>
                <div class="container center right_mini" data-id="45">
                    <img class="product_picture" src="images/products/odijela/crno_odijelo.png" alt="">
                    <div class="size_buttons">
                        <button class="size">XS</button>
                        <button class="size">S</button>
                        <button class="size">M</button>
                        <button class="size">L</button>
                        <button class="size">XL</button>
                        <button class="size">XXL</button>
                    </div>
                    <div class="counter">0</div>
                    <div class="about_product">
                        <h4>Crno odijelo</h4>
                        <h4>999.99€</h4>
                   </div>
                </div>
                <div class="container right left_mini" data-id="2">
                    <img class="product_picture" src="images/products/majice/zelena_majica.png" alt="">
                    <div class="size_buttons">
                        <button class="size">XS</button>
                        <button class="size">S</button>
                        <button class="size">M</button>
                        <button class="size">L</button>
                        <button class="size">XL</button>
                        <button class="size">XXL</button>
                    </div>
                    <div class="counter">0</div>
                    <div class="about_product">
                        <h4>Zelena Majica</h4>
                        <h4>25.99€</h4>
                    </div>
                </div>
                <div class="container left right_mini" data-id="6">
                    <img class="product_picture" src="images/products/hlace/smede_hlace.png" alt="">
                    <div class="size_buttons">
                        <button class="size">XS</button>
                        <button class="size">S</button>
                        <button class="size">M</button>
                        <button class="size">L</button>
                        <button class="size">XL</button>
                        <button class="size">XXL</button>
                    </div>
                    <div class="counter">0</div>
                    <div class="about_product">
                        <h4>Smeđe Hlače</h4>
                        <h4>44.99€</h4>
                   </div>
                </div>
                <div class="container center left_mini" data-id="5">
                    <img class="product_picture" src="images/products/hlace/bijele_hlace.png" alt="">
                    <div class="size_buttons">
                        <button class="size">XS</button>
                        <button class="size">S</button>
                        <button class="size">M</button>
                        <button class="size">L</button>
                        <button class="size">XL</button>
                        <button class="size">XXL</button>
                    </div>
                    <div class="counter">0</div>
                    <div class="about_product">
                        <h4>Bijele Hlače</h4>
                        <h4>39.99€</h4>
                   </div>
                </div>
                <div class="container right right_mini" data-id="10">
                    <img class="product_picture" src="images/products/kape/Usa_kapa.png" alt="">
                    <div class="size_buttons">
                        <button class="size">XS</button>
                        <button class="size">S</button>
                        <button class="size">M</button>
                        <button class="size">L</button>
                        <button class="size">XL</button>
                        <button class="size">XXL</button>
                    </div>
                    <div class="counter">0</div>
                    <div class="about_product">
                        <h4>USA Kapa</h4>
                        <h4>14.99€</h4>
                   </div>
                </div>
            </div>
        </div>
    </div>

    <div id="banner_video">
        <h3 id="quote">Style that <span>speaks</span> before you</h3>
        <video loop autoplay muted>
          <source src="videos/banner_video.mp4" type="video/mp4">
        </video>
        <h3 id="logo_banner">J&B</h3>
    </div>

    <!--NEW Collection-->
    <div id="secondBody_section">
        <h2><span>&</span> New Collection</h2>
        <div id="row1" class="row_collection">
            <div class="container_slider container" data-id="4">
                <img class="product_picture" src="images/products/majice/roza_majica.png" alt="">
                <div class="size_buttons">
                     <button class="size">XS</button>
                     <button class="size">S</button>
                     <button class="size">M</button>
                     <button class="size">L</button>
                     <button class="size">XL</button>
                     <button class="size">XXL</button>
                 </div>
                 <div class="counter">0</div>
                <div class="about_product">
                     <h4>Roza Majica</h4>
                     <h4>22.99€</h4>
                </div>
             </div>
             <div class="container_slider container" data-id="17">
                 <img class="product_picture" src="images/products/trenirke/plava_trenirka.png" alt="">
                 <div class="size_buttons">
                     <button class="size">XS</button>
                     <button class="size">S</button>
                     <button class="size">M</button>
                     <button class="size">L</button>
                     <button class="size">XL</button>
                     <button class="size">XXL</button>
                 </div>
                 <div class="counter">0</div>
                 <div class="about_product">
                     <h4>Plava Trenirka</h4>
                     <h4>69.99€</h4>
                </div>
             </div>
             <div class="container_slider container" data-id="14">
                 <img class="product_picture" src="images/products/kape/zelena_kapa.png" alt="">
                 <div class="size_buttons">
                     <button class="size">XS</button>
                     <button class="size">S</button>
                     <button class="size">M</button>
                     <button class="size">L</button>
                     <button class="size">XL</button>
                     <button class="size">XXL</button>
                 </div>
                 <div class="counter">0</div>
                 <div class="about_product">
                     <h4>Zelena Kapa</h4>
                     <h4>14.99€</h4>
                </div>
             </div>
        </div>
        <div id="row2" class="row_collection">
            <div class="container_slider container" data-id="13">
                <img class="product_picture" src="images/products/kape/crna_kapa.png" alt="">
                <div class="size_buttons">
                     <button class="size">XS</button>
                     <button class="size">S</button>
                     <button class="size">M</button>
                     <button class="size">L</button>
                     <button class="size">XL</button>
                     <button class="size">XXL</button>
                 </div>
                <div class="counter">0</div>
                <img src="" alt="">
                <div class="about_product">
                     <h4>Crna Kapa</h4>
                     <h4>14.99€</h4>
                </div>
            </div>
            <div class="container_slider container" data-id="18">
                 <img class="product_picture" src="images/products/trenirke/siva_trenirka.png" alt="">
                 <div class="size_buttons">
                     <button class="size">XS</button>
                     <button class="size">S</button>
                     <button class="size">M</button>
                     <button class="size">L</button>
                     <button class="size">XL</button>
                     <button class="size">XXL</button>
                 </div>
                 <div class="counter">0</div>
                 <div class="about_product">
                     <h4>Siva Trenirka</h4>
                     <h4>54.99€</h4>
                </div>
             </div>
             <div class="container_slider container" data-id="9">
                 <img class="product_picture" src="images/products/hlace/sive_hlace.png" alt="">
                 <div class="size_buttons">
                     <button class="size">XS</button>
                     <button class="size">S</button>
                     <button class="size">M</button>
                     <button class="size">L</button>
                     <button class="size">XL</button>
                     <button class="size">XXL</button>
                 </div>
                 <div class="counter">0</div>
                 <div class="about_product">
                     <h4>Sive Hlače</h4>
                     <h4>29.99€</h4>
                </div>
             </div>
        </div>
        <div id="row3" class="row_collection">
            <div class="container_slider container" data-id="7">
                <img class="product_picture" src="images/products/hlace/crne_hlace.png" alt="">
                <div class="size_buttons">
                     <button class="size">XS</button>
                     <button class="size">S</button>
                     <button class="size">M</button>
                     <button class="size">L</button>
                     <button class="size">XL</button>
                     <button class="size">XXL</button>
                 </div>
                 <div class="counter">0</div>
                <img src="" alt="">
                <div class="about_product">
                     <h4>Crne Hlače</h4>
                     <h4>49.99€</h4>
                </div>
             </div>
             <div class="container_slider container" data-id="12">
                 <img class="product_picture" src="images/products/kape/zuta_kapa.png" alt="">
                 <div class="size_buttons">
                     <button class="size">XS</button>
                     <button class="size">S</button>
                     <button class="size">M</button>
                     <button class="size">L</button>
                     <button class="size">XL</button>
                     <button class="size">XXL</button>
                 </div>
                 <div class="counter">0</div>
                 <div class="about_product">
                     <h4>Žuta Kapa</h4>
                     <h4>14.99€</h4>
                </div>
             </div>
             <div class="container_slider container" data-id="16">
                 <img class="product_picture" src="images/products/trenirke/smeda_trenirka.png" alt="">
                 <div class="size_buttons">
                     <button class="size">XS</button>
                     <button class="size">S</button>
                     <button class="size">M</button>
                     <button class="size">L</button>
                     <button class="size">XL</button>
                     <button class="size">XXL</button>
                 </div>
                 <div class="counter">0</div>
                 <div class="about_product">
                     <h4>Smeđa Trenirka</h4>
                     <h4>69.99€</h4>
                </div>
             </div>
        </div>
        <div id="selection">
            <div id="first_circle" class="circle_selection"></div>
            <div id="second_circle" class="circle_selection"></div>
            <div id="third_circle" class="circle_selection"></div>
        </div>
    </div>

    <%- include('partials/footer') %>


</body>
</html>
