<%- include('partials/header') %>

<body>
    <button id="top_button"><img src="/images/arrow.svg" alt=""></button>

    <div id="whole_screen"></div>
    <%- include("partials/nav_kategorije") %>

    <%- include("partials/nav") %>

    <div id="section">
        <h2></h2>
    </div>


    <%- include("partials/footer") %>
</body>
</html>