<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kategorije</title>
    <link rel="icon" href="/images/J&B_logo.png">    
    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="stylesheet" href="/styles/navigation.css">
    <link rel="stylesheet" href="/styles/body.css">
    <link rel="stylesheet" href="/styles/footer.css">
    <script src="/scripts/script.js"></script>
    <script src="/scripts/categories.js"></script>
</head>
<body>
    <button id="top_button"><img src="/images/arrow.svg" alt=""></button>

    <div id="whole_screen"></div>
    <%- include("partials/nav_kategorije") %>

    <%- include("partials/nav") %>

    <div id="section">
        <h2></h2>
    </div>


    <%- include("partials/footer") %>
</body>
</html>