*{
    margin:0;
    padding: 0;
}

@font-face {
    font-family: montserrat_bold;
    src: url("../fonts/Montserrat/static/Montserrat-Medium.ttf");
}
@font-face {
    font-family: montserrat_light;
    src: url("../fonts/Montserrat/static/Montserrat-Light.ttf");
}


:root{

    /*--------- COLORS -----------*/
    --tamno_plava: #27445D;
    --tamno_plava_lower: rgba(39, 68, 93, 0.5);
    --orange: #FF5722;
    --creamy:#F5F1E3;
    --watermark:rgba(255, 255, 255, 0.2);
    --light_gray: lightgray;
    
    /*---------- FONTS ------------ */
    --bold: "montserrat_bold", montserrat_bold;
    --light: "montserrat_light", montserrat_light;

}

body{
    background-color: var(--creamy);
    margin: 0 5%;
}

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-thumb{
    background-color: var(--tamno_plava);
    border-radius: 5px;
}

::selection{
    background: rgba(255, 87, 34, 0.8);
}

::-moz-selection {
    background:  rgba(255, 87, 34, 0.8) ;
  }
