
#section h2{
    font-family: var(--bold);
    color: var(--tamno_plava);
    margin-top: 100px;
    margin-bottom: 10px;
    font-size: 4vmin;
    margin-bottom: 40px;
}
#section h2 span{
    color: var(--orange);
}

.containers{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 50px;
}
.container{
    position: relative;
    justify-self: center;
    display: flex;
    flex-direction: column;
    width: 80%;
}

.container_slider{
    display: flex;
    flex-direction: column;
    width: 30%;
    position: relative;
}

.left{
    justify-self: left;
}

.center{
    justify-self: center;
}

.right{
    justify-self: right;
}

.product_picture{
    width: 100%;
    border: 3px solid var(--tamno_plava);
    object-fit: contain;
    cursor: pointer;
    position: relative;
}

.about_product{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.about_product h4{
    font-family: var(--light);
    color: var(--tamno_plava);
    margin-top: 10px;
    font-size: 1.2rem;
}

.size_buttons{
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: space-around;
    background-color: var(--tamno_plava);
    height: 50%;
    width: 0%;
    cursor: auto;
    transition: all 0.3s ease-in-out;
}

.size{
    display: none;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 10%;
    border: 1px solid var(--tamno_plava);
    font-family: var(--bold);
    background-color: whitesmoke;
    color: var(--tamno_plava);
    cursor: pointer;
    width: 80%;
    height: 14%;
    padding: 10px;
}

.product_picture:hover + .size_buttons,
.size_buttons:hover{
    width: 25%;
}

.product_picture:hover + .size_buttons .size,
.size_buttons:hover .size{
    display: flex;
    animation: showbuttons 0.4s ease-in-out;
}

.size:hover{
    background-color: var(--light_gray);
}

.counter{
    display: none;
    position: absolute;
    right: 0;
    top: 1%;
    width: 30px;
    height: 30px;
    background-color: var(--tamno_plava);
    border-radius: 50px;
    text-align: center;
    align-content: center;
    font-size: 1.5vmin;
    font-family: var(--bold);
    color: var(--orange);
    z-index: 999;
}

@keyframes showbuttons {
    0%{opacity: 0;}
    100%{opacity: 1;}
}

@keyframes spin {
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}

/*--------- Video banner---------*/

video::-webkit-media-controls {
    display: none;
}

#banner_video{
    margin-top: 100px;
    width: 100%;
    height: 400px;
    position: relative;
    text-align: center;
}

#banner_video video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
    border-radius: 20px;
}

#quote{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: var(--bold);
    color: var(--creamy);
    font-size: 5vmin;
    z-index: 1;
}
#quote span{
    color: var(--orange);
}
#logo_banner{
    position: absolute;
    top: 85%;
    left: 5%;
    transform: translate(-5%,-15%);
    font-family: var(--bold);
    color: var(--watermark);
    font-size: 4vmin;
    z-index: 1;
}

@media only screen and (max-width: 1024px) {
    .containers{
        grid-template-columns: repeat(2, 1fr);
    }
    .right_mini{
        justify-self: right;
    }
    .left_mini{
        justify-self: left;
    }

    .about_product h4{
        font-family: var(--light);
        color: var(--tamno_plava);
        margin-top: 10px;
        font-size: 1rem;
    }
}