#cart_section{
    width: 100%;
    height: 100%;
    border: 2px solid var(--tamno_plava);
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    padding: 50px 0;
    align-items: center;
}

#head_cart{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

#head_cart h2{
    font-family: var(--bold);
    color: var(--tamno_plava);
    margin-bottom: 10px;
    font-size: 35px;
}

#head_cart h2 span{
    color: var(--orange);
}

#head_cart button{
    padding: 20px;
    background-color: var(--tamno_plava_lower);
    border: 2px solid var(--tamno_plava);
    transition: all 0.3s ease-in-out;
    color: var(--creamy);
    cursor: pointer;
    font-size: 15px;
    font-family: var(--bold);
}

#head_cart button:hover{
    background-color: var(--tamno_plava);
}
#cart_section h1{
    font-family: var(--bold);
    color: var(--tamno_plava);
    margin-top: 50px;
}

#buttons_cart{
    margin-top: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#buttons_cart div{
    display: flex;
    align-items: center;
}

#total_price{
    margin-right: 10px;
    font-family: var(--bold);
    color: var(--tamno_plava);
}

.element{
    position: relative;
    margin-top: 50px;
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-items: center;
    border: 2px solid var(--tamno_plava);
}
.element img{
    width: 25%;
    border: 3px solid var(--tamno_plava);
}

.product_quantity{
    display: flex;
    width: 20%;
    justify-content: space-around;
    align-items: center;
}

.product_quantity button{
    padding: 10px;
    border: 2px solid var(--tamno_plava);
    background-color: var(--tamno_plava_lower);
    color: var(--creamy);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.product_quantity button:hover{
    background-color: var(--tamno_plava);
}

.product_quantity h3{
    font-family: var(--bold);
    color: var(--tamno_plava);
    margin: 0 10px;
}

.product_info h3{
    font-family: var(--bold);
    color: var(--tamno_plava);
}

@media only screen and (max-width: 768px){
    .product_info h3{
        font-size: 1rem;
    }

    .product_quantity button{
        padding: 5px;
    }
}