#footer{
    position: relative;
    display: flex;
    justify-content: space-around;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 400px;
    margin-top: 100px;
    background-color: var(--tamno_plava);
    border-radius: 20px;
}
#icons2{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}
#footer h2{
    font-family: var(--bold);
    color: var(--creamy);
    font-size: 4vmin;
    margin-bottom: 40px;
}

#footer span{
    color: var(--orange);
}
#nav_footer{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}
.link_footer{
    position: relative;
    margin-top: 30px;
    list-style: none;
}

.link_footer a{
    text-decoration: none;
    color: var(--creamy);
    font-family: var(--light);
    padding-bottom: 10px;
    font-size: 2vmin;
    transition: color 0.1s ease-in-out;
}
.link_footer a:hover{
    color: var(--orange);
}
#icons2 img{
    width: 80px;
    height: 80px;
    cursor: pointer;
}

