#secondBody_section{
    margin-top: 100px;
}

#secondBody_section h2{
    font-family: var(--bold);
    color: var(--tamno_plava);
    margin-top: 100px;
    margin-bottom: 10px;
    font-size: 35px;
}

#secondBody_section h2 span{
    color: var(--orange);
}

.row_collection{
    display: flex;
    justify-content: space-between;
    opacity: 0;
    margin-top: 50px;
    transition: opacity 2s ease;
}
#selection{
    display: flex;
    justify-content: center;
}
#row1{
    opacity: 1;
    display: flex;
}
#row2, #row3{
    display: none;
    opacity: 0;
}
.circle_selection{
    height: 20px;
    width: 20px;
    margin-right: 10px;
    border-radius: 50px;
    cursor: pointer;
    margin-bottom: 100px;
    margin-top: 50px;
    transition: all 0.3s ease-in-out;
}

#second_circle, #third_circle{
    background-color: var(--tamno_plava_lower);
}

#first_circle{
    background-color: var(--tamno_plava);
}

.circle_selection:hover{
    background-color: var(--tamno_plava) !important;
}