*{
    margin:0;
    padding: 0;
}

@font-face {
    font-family: montserrat_bold;
    src: url("../fonts/Montserrat/static/Montserrat-Medium.ttf");
}
@font-face {
    font-family: montserrat_light;
    src: url("../fonts/Montserrat/static/Montserrat-Light.ttf");
}


:root{

    /*--------- COLORS -----------*/
    --tamno_plava: #27445D;
    --orange: #FF5722;
    --creamy:#EFE9D5;
    
    /*---------- FONTS ------------ */
    --bold: "montserrat_bold", montserrat_bold;
    --light: "montserrat_light", montserrat_light;

}

body{
    background-color: var(--creamy);
    margin: 0 5%;
}

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-thumb{
    background-color: var(--tamno_plava);
    border-radius: 5px;
}
